<ul>
  {{#each entries as |entry|}}
    <li>
      <span>{{entry.date}}: </span>
      <span>{{entry.time}}</span>
      <span>{{entry.project}}</span>
      <span>{{entry.description}}</span>
    </li>
  {{/each}}
</ul>
