<ul class="entry-form__nav-buttons">
  <li class="nav-buttons__button">
    2D-ago
  </li>
  <li class="nav-buttons__button">
    Yesterday
  </li>
  <li class="nav-buttons__button">
    Today
  </li>
  <li class="nav-buttons__button">
    <i class="fa fa-calendar"></i> <span>Calendar</span>
  </li>
</ul>

<div class="entry-form__entry-fields">
  {{entry-form/time-input enter=(action "handleSubmitEntry")
                          type=(action "updateTimeValue")}}

  {{entry-form/project-input class="entry-fields__project-input"
                             enter=(action "handleSubmitEntry")
                             projects=(readonly attrs.projects)
                             select=(action "focusOnDescriptionInput")
                             type=(action "updateProjectValue")}}

  {{entry-form/description-input enter=(action "handleSubmitEntry")}}

  {{entry-form/submit-button on-click=(action "handleSubmitEntry")}}
</div>
