<ul class="entry-form-container__nav-buttons">
  <li class="nav-buttons__button">
    2D-ago
  </li>
  <li class="nav-buttons__button">
    Yesterday
  </li>
  <li class="nav-buttons__button">
    Today
  </li>
  <li class="nav-buttons__button">
    Calendar
  </li>
</ul>

<div class="entry-form-container__entry-form">
  {{entry-form/time-input}}
  {{entry-form/project-input}}
  {{entry-form/description-input}}
</div>
