{{input class="entry-fields__input entry-fields__description-input"
        enter=(action attrs.enter)
        focus-in=(action "expand")
        focus-out=(action "collapse")
        placeholder="DESCRIPTION"}}

{{#if expanded}}
  <div class="description-input__options">
    <ul>
      {{#each tags as |tag|}}
        <li class="tag-options__tag">{{tag.name}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}
