<ul class="entry-form__nav-buttons">
  {{#each liveItems as |navItem|}}
    <li class="nav-buttons__button
               {{if navItem.active "nav-buttons__button--active"}}"
        onclick={{action "selectTab" navItem.title}}>
      {{#if navItem.icon}}
        <i class="fa fa-{{navItem.icon}}"></i>
      {{/if}}
      <span>{{navItem.title}}</span>
    </li>
  {{/each}}
</ul>
