<ul class="entry-form__nav-buttons">
  <li class="nav-buttons__button">
    2D-ago
  </li>
  <li class="nav-buttons__button">
    Yesterday
  </li>
  <li class="nav-buttons__button">
    Today
  </li>
  <li class="nav-buttons__button">
    <i class="fa fa-calendar"></i> <span>Calendar</span>
  </li>
</ul>
