{{input class="entry-fields__input entry-fields__project-input"
        enter=(action attrs.enter)
        focus-in=(action "expand")
        focus-out=(action "collapse")
        key-up=(action "updateInputValue")
        placeholder="PROJECT"
        value=(readonly selectedProject.name)}}

{{#if expanded}}
  <ul class="project-input__dropdown">
    {{#each filteredProjects as |project|}}
      <li onmousedown={{action (action "selectProject" project)}}>{{project.name}}</li>
    {{/each}}
  </ul>
{{/if}}
