/////////////////////
//                 //
//   Application   //
//                 //
/////////////////////

.app {
  border: 1px dotted gray;
  display: flex;
  flex-direction: column;
}

////////////////
//            //
//   Header   //
//            //
////////////////

.app-header {
  border: 1px solid blue;
}

///////////////////////////////
//                           //
//   Application Container   //
//                           //
///////////////////////////////

.app-container {
  border: 1px solid red;
  display: flex;

}

/////////////////
//             //
//   Sidebar   //
//             //
/////////////////

.side-bar {
  border: 2px solid yellow;
  width: 220px;
}

.side-bar__item {
  border: 1px solid black;
}

.side-bar__dashboard-link {

}

.side-bar__tags-link {

}



//////////////////////
//                  //
//   Main Content   //
//                  //
//////////////////////

.app-content {
  border: 1px solid green;
  width: 750px;
}

////////////////////
//                //
//   Entry Form   //
//                //
////////////////////

.entry-form {

}

.entry-form__nav-buttons {
  display: flex;

  .nav-buttons__button {
    margin-right: 5px;
    min-width: 50px;
    padding: 2px 8px 2px 8px;
    white-space: nowrap;
  }
}

.entry-form__entry-fields {
  display: flex;
}

.entry-fields__input {
  border: 1px solid black;
  margin-right: 2px;
}

.entry-fields__submit-button {
  border: 1px solid blue;
}

////////////////////////
//                    //
//   Outlet Content   //
//                    //
////////////////////////

.outlet-content-container {
  border: 1px solid black;
}
