.description-input__options {
  background: $app__color--primary--light-two;
  padding: 5px 10px;
  position: absolute;
}

.options__tag {
  background-color: yellow;
  display: inline-block;
}

.options__hotkey-suggestions {
  color: blue;
  font-style: italic;
  margin-top: 15px;
}

.options__input-warning {
  color: blue;
  font-style: italic;
  margin-top: 15px;
}
