.description-input__options {
  background: $app__color--primary--light-two;
  padding: 5px 10px;
  position: absolute;
}

.description-input__options .tag-options__tag {
  background-color: yellow;
  display: inline-block;
}
