////////////////
//            //
//   Colors   //
//            //
////////////////

$app__color--primary: #3cc5de;
$app__color--primary--dark: #40a2b7;
$app__color--primary--light-one: #68d6ea;
$app__color--primary--light-two: #ddecee;

$app__color--secondary: #dcf2ab;
$app__color--background: #454545;
$app__color--background-white: #FFF;

$app__color--font--light: #FFF;
