<header class="tick-header">
  <h1 id="title" class="tick-header__title app-title">Tick Tock</h1>
</header>

<div class="tick-container">
  <div class="tick-container__entry-form">

  </div>

  <div class="">
    {{outlet}}
  </div>

  <div class="tick-container__overview">

  </div>

  <div class="tick-container__timeline">

  </div>

</div>
