<div class="app">
  <header class="app-header">
    <h1 id="title" class="app-header__title app-title">Tick Tock</h1>
  </header>

  <div class="app-container">
    <div class="side-bar">
      <div class="side-bar__item side-bar__dashboard-link">
        {{#link-to "dashboard"}}Dashboard{{/link-to}}
      </div>

      <div class="side-bar__item side-bar__tags-link">
        {{#link-to "tags"}}Tags{{/link-to}}
      </div>
    </div>

    <div class="app-content">
      {{entry-form}}

      <div class="app-outlet">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
